
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.head {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px; 
}
.icon img {
  width: 70px;
  height: 50px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap; 
  justify-content: center;
}
.menu a {
  color: skyblue;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  color: #ccc;
}

#home {
  text-align: center;
}

#home h2 {
  text-align: center;
  text-decoration: underline skyblue;
}

marquee {
  margin: 0px;
  padding: 0px;
  border: #555 1px solid;
  height: 30px;
  font-size: 20px;
  background-color: #555;
  color: whitesmoke;
  cursor: pointer;
}

.card {
  background-image: url(https://images.unsplash.com/photo-1443694910004-3567042689f5?q=80&w=1167&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  border-radius: 10px;
}

#p {
  color: white;
}

#p1 {
  color: #ffffff;
}

#b {
  background-color: rgb(121, 200, 232);
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

button a{
  text-decoration: none;
  color: #ffffff;
}

#b:hover {
  background-color: #555;
}

#SERVICES {
  background-color: #f7f7f7;
  padding: 50px;
  text-align: center;
}

img {
  width: 200px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.blog,
.blog1,
.blog2 {
  width: 300px;
  padding: 15px;
  text-align: center;
  border: #cee4ef 1px solid;
  height: 350px;
  background-color: #cee4ef;
  border-radius: 10px;
  margin-bottom: 20px;
}

#offers {
  background-color: #f7f7f7;
  padding: 50px;
  text-align: center;
  gap: 50px;
}

#offers img{
  border-radius: 50%;
}
.fly{
  height: 450px;
  padding: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.fly ,h3{
  text-align: center;
}
.form{
  border: 1px solid rgb(186, 221, 237);
  background-color: #c1e3f2;
  border-radius: 15px;
  width: 350px;
  padding: 20px;
}
input,select {
  height: 40px;
  width: 300px;
  margin: 15px;
  border: #c1e3f2;
}

.fly button{
  background-color: rgb(121, 200, 232);
  color: whitesmoke;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  width: 90px;
}

#help {
  background-color: #f7f7f7;
  padding: 40px;
  text-align: center;
}

footer {
  background-color: #89cff0;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}